/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #656635;
  --color-secondary: #e2211c;
  --color-dark: #34342e;
  --color-dark-gray: #76766c;
  --color-medium-gray: #57595a;
  --color-medium-light-gray: #d2d3d3;
  --color-light-gray: #e5e5df;
  --color-white: #ffffff;

  --color-background: #fcfcfc;

  --font-title: "Prata", serif;
  --font-body: "Lato", sans-serif;

  --margin-mobile: 3em;
  --margin-desktop: 3.8em;
  --side-margin-mobile: 0 1.875em;
  --side-margin-deskop: 28em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label {
  font-family: inherit;
  color: inherit;
  border: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
